* {
	margin: 0;
	padding: 0;
}
body {
	background: lightblue;
	text-align: center;
}
h1, p {
	margin-bottom: 10px;
}
form {
	border: 2px solid #000;
	width: 60%;
	margin: 0 auto;
}
input {
	display: inline-block;
	margin: 0 auto 15px auto;
}

#radio-check {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
	width: 100%;
}
#radio-check div {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000;
	width: 40%;
}

li{
	margin: 0 auto;
}

ul{
	width: 100%;
	list-style: none;
	text-align: center;
}

textarea{
	display: block;
	margin:  0 auto;
}